@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Roboto+Slab:wght@800&display=swap');

body {
  margin: 0;
  background-color: black;
  max-width: 100%;
}

body > #root > div {
  margin: 0px;
}

.App {
  background-color: black;
  margin: 0px;
  text-align: center;
}

.nav-bar {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  border-bottom: 1px solid #81838499;
  height: 70px;
}

.word-count {
  height: 100px
}

.interface {
  display: flex;
  flex-direction: row;
}

.interface-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.barchart-possible {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.interface-left-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid white;
  flex: 1;
}

.strategic-words-container {
  flex: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  border-right: 2px solid white;
  align-items: center;
  justify-content: center;
}

.strategic-words {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

.animated-numbers {
  flex: 1;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.letters {
  flex: 1;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(6, 70px);
}


/* Letter boxes */

.letter-box {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  align-items: center;
  background-color: black;
  margin: 4px 4px 4px 4px;
  font-family: 'Libre Franklin', sans-serif;
  border: 2px solid rgba(118, 117, 117, 0.6);
}

.letter-box-gray {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  align-items: center;
  background-color: rgb(70, 70, 70);
  margin: 4px 4px 4px 4px;
  font-family: 'Libre Franklin', sans-serif;
  border: 2px solid rgb(70, 70, 70);
}

.letter-box-yellow {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  align-items: center;
  background-color: #B49E42;
  margin: 4px 4px 4px 4px;
  font-family: 'Libre Franklin', sans-serif;
  border: 2px solid #B49E42;
}

.letter-box-green {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  align-items: center;
  background-color: #588D52;
  margin: 4px 4px 4px 4px;
  font-family: 'Libre Franklin', sans-serif;
  border: 2px solid #588D52;
}

.letter-box-gray:hover {background-color: rgb(108, 107, 107)}
.letter-box-gray:active {background-color: rgb(108, 107, 107); transform: scale(0.9);}

.letter-box-yellow:hover {background-color: #b9a760}
.letter-box-yellow:active {background-color: #b9a760; transform: scale(0.9);}

.letter-box-green:hover {background-color: #71a76b}
.letter-box-green:active {background-color: #71a76b; transform: scale(0.9);}

/* Keyboard containers */

.keyboard-container1 {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.keyboard-container2 {
  margin-top: 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.keyboard-container3 {
  margin-top: 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 50px 50px 50px 50px 50px 50px 50px 100px;
}

.keyboard-letter {
  color: white;
  background-color: #818384;
  height: 60px;
  margin: 3px 3px 3px 3px;
  border: none;
  border-radius: 5px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.keyboard-letter:hover {
  background-color:  #a6a8a8;
}

.keyboard-letter:active {
  background-color:  #a6a8a8;
  transform: scale(0.9);
}