body > #root > div {
  height: 100vh;
}

.App {
  background-color: white;
}

.wordle-title {
  color: white;
}

.interface {
  display: grid;
  justify-content: center;
  grid-template-columns: 480px 480px;
}

.letter-box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.letter-box {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  align-items: center;
  background-color: gray;
  margin: 3px 3px 3px 3px;
}

.letter-box-yellow {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  align-items: center;
  background-color: darkgoldenrod;
  margin: 3px 3px 3px 3px;
}

.letter-box-green {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  align-items: center;
  background-color: darkgreen;
  margin: 3px 3px 3px 3px;
}

.keyboard-container1 {
  margin-top: 40px;
  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.keyboard-container2 {
  margin-top: 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.keyboard-container3 {
  margin-top: 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 50px 50px 50px 50px 50px 50px 50px 100px;
}

.keyboard-letter {
  color: white;
  background-color: gray;
  height: 80px;
  margin: 3px 3px 3px 3px;
  border: none;
  border-radius: 5px;
}

.wordArray {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordArray > div {
  flex: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: solid gray 2px;
  border-radius: 5px;
  width: 100%;
}